/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILO GERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* CABEÇALHO */
header {
    background-color: #111827;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.2rem;
}

header p {
    margin-top: 10px;
    font-size: 1.1rem;
}

/* CONTEÚDO */
main {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

/* SEÇÕES */
section {
    margin-bottom: 50px;
}

/* TÍTULOS */
h2 {
    border-bottom: 2px solid #111827;
    padding-bottom: 5px;
}

/* PROJETOS */
.project {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 6px;
}

/* LINKS */
a {
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
