/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
    --bg-main: #dee2ec;
    --bg-card: #d9deeb;
    --text-main: #0f2450;
    --text-muted: #121213;
    --accent: #0c0c0c;
}

/* GERAL */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    line-height: 1.7;
}

/* HEADER */
header {
    background: linear-gradient(180deg, #7989d1, var(--bg-main));
    border-bottom: 1px solid #1f2937;
}

.header-container {
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.1rem;
    color: var(--text-muted);
    margin-bottom: 25px;
}

/* LINKS DO HEADER */
.header-links {
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
}

.header-links a,
.header-links span {
    color: var(--accent);
    font-size: 0.95rem;
    text-decoration: none;
}

.header-links a:hover {
    text-decoration: underline;
}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px;
}

/* SEÇÕES */
section {
    margin-bottom: 80px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--accent);
}

/* TEXTO */
p {
    font-size: 1.05rem;
    color: var(--text-main);
}

/* PROJETOS */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.project-card {
    background-color: var(--bg-card);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #1f2937;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.project-card h3 {
    margin-bottom: 12px;
    color: var(--accent);
    font-size: 1.2rem;
}

.project-description {
    margin-bottom: 15px;
}

.tech {
    font-size: 0.9rem;
    color: var(--text-muted);
    margin-bottom: 15px;
}

/* LINKS */
a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    border-top: 1px solid #1f2937;
    text-align: center;
    padding: 20px;
    color: var(--text-muted);
    font-size: 0.9rem;
}


